<div class="jumbotron jumbo">
  <h2>Query Submitted!</h2>
  <h3>Your query number is <%= @query.id %></h3> 
  <p>A response of your query is also mailed to you.</p>   
  <p>Want to submit another Query? <a href="/query/new">Click here to ask a query!</a></p>
</div>