<div class="jumbotron jumbo">
  <h2>Have a QUERY?</h2>      
  <p>If You have any query feel free to contact us. <a href="/query/new">Click here to ask a query!</a></p>
</div>
<div class="jumbotron jumbo">
  <h2>LogIn as Employee</h2>      
  <p>Employee can login here <a href="">Click here!</a></p>
</div>
<div class="jumbotron jumbo">
  <h2>LogIn as Admin</h2>      
  <p>Admin can login here <a href="">Click here!</a></p>
</div>