<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @query.name %></h1>
    <p>
      Your query number <%= @query.id %> is marked as Unresolved <br>
    </p>
    <p>We will contact you soon!</p>
  </body>
</html>