<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @query.name %></h1>
    <p>
      Your query number <%= @query.id %> is marked as Resolved <br>
    </p>
    <p>
      If your query is not resolved. Then mark it as Unresolved by clicking on the below link <a href="http://localhost:3000/">Click Here to Mark as your query as Unresolved! </a>
    </p>
  </body>
</html>